@import "materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.side-padding {
  padding-left: 25px;
  padding-right: 25px;
}

.mb-5 {
  margin-bottom: 5px;
}

.sign-up-form {
  padding-top: 30px;
}
